{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BR Med Exchange Rate Site | {{ iso_code }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'exchange/bootstrap.css' %}"></link>

    <!-- Highcharts libraries -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'exchange:home' %}">Exchange</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'exchange:home' %}">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/" target="_blank">Admin</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rates</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'exchange:full_chart' 'Euro' %}">Full EUR Rates</a>
                  <a class="dropdown-item" href="{% url 'exchange:full_chart' 'Real' %}">Full BRL Rates</a>
                  <a class="dropdown-item" href="{% url 'exchange:full_chart' 'Yen' %}">Full JPY Rates</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <br>
    <div id="container" style="width:100%; height:400px;">
        <script>
            Highcharts.chart('container', {
                chart: {
                    type: 'line',
                },
                title: {
                    text: 'Exchange Rates',
                },
                xAxis: {
                    type: 'datetime',
                },
                yAxis: {
                    min: 0,
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true,
                            },
                        },
                    },
                },
                series: [{
                    name: '{{ iso_code }}',
                    data: [
                        {% for entry in rates %}[{{ entry.0 }}, {{ entry.1}}]{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    dataLabels: {
                        enabled: true,
                        align: 'center',
                        style: {
                            fontSize: '15px',
                        },
                    },
                }],
            });
        </script>
    </div>
    <br>
    <form action="{% url 'exchange:time_chart' currency %}" method="post">
      {% csrf_token %}
      <label for="starting-date">Choose a starting date:</label>
      <input type="date" id="starting-date" name="starting-date" min="1999-01-04T00:00">
      &ensp;<label for="ending-date">Choose a ending date:</label>
      <input type="date" id="ending-date" name="ending-date" min="1999-01-04T00:00">
      &ensp;<input type="submit" class="btn btn-primary btn-sm">
    </form>
    {% if error %}
      <p><strong>{{ error }}</strong></p>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
  </html>
